<ul id="post-list">
    <!-- <li>
        <aside class="dates">&rarr;</aside>
        <a href='/queens'>
            Locally Mated Queens
           <h2>Buy locally mated queens from Blackawton, Devon</h2>
        </a>
    </li> -->
    <li>
        <aside class="dates">&rarr;</aside>
        <a href='/honey'>
            Local Honey
           <h2>Buy local honey from South Devon</h2>
        </a>
    </li>

    <hr />

    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}
            <li>
                <aside class="dates">{{ .Date.Format "Jan 2" }}</aside>
                <a href='{{ .Permalink }}'>
                    {{ .Title }}
                    {{ if .Site.Params.enableSummary }}
                        {{ if .Site.Params.useDescriptionReplaceSummary }}
                            <h2>{{ .Description | plainify }}</h2>
                        {{ else }}
                            <h2>{{ .Summary | plainify | htmlUnescape }}</h2>
                        {{ end }}
                    {{ end }}
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
