<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.24.1"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.1"></script>

<canvas id="totalFrameStats"></canvas>

<script>
    (function() {
        var ctx = document.getElementById('totalFrameStats').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [],
        datasets: []
    },

    // Configuration options go here
   options: {
        scales: {
            yAxes: [{
                id: 'A',
                type: 'linear',
                position: 'left',
                stacked: true,
                scaleLabel: {
                labelString: "Total # Frames",
                display: true,
                },
                ticks: {
                    beginAtZero: true,
                }
            }],
            xAxes: [
                {
                    type: "time",
                    time: {
                        unit: "week"
                    }
                }
            ]
        }
    }

});

    fetch("https://api.live.apisdex.com/api/v0/stats?username=byron&key=8e9af3jjtxpDFwmb")
        .then((resp) => resp.json())
        .then((data) => {
            chart.data.labels = [];

const brood = {
            label: 'Brood',
            yAxisID: 'A',
            backgroundColor: 'rgb(145, 127, 97)',
            borderColor: 'rgb(255,255,255)',
            data: []
        };

const honey = {
            label: 'Honey',
            yAxisID: 'A',
            backgroundColor: 'rgb(226,214,0)',
            borderColor: 'rgb(255,255,255)',
            data: []
        };

const pollen = {
            label: 'Pollen',
            yAxisID: 'A',
            backgroundColor: 'rgb(224,110,162)',
            borderColor: 'rgb(255,255,255)',
            data: []
        };

        data.forEach((d) => {
            chart.data.labels.push(d.Date.split("T")[0]);
            brood.data.push(d.TotalBrood);
            honey.data.push(d.TotalHoney);
            pollen.data.push(d.TotalPollen);
        })

        chart.data.datasets = [pollen,brood,honey];


            chart.update();
        })
    })()
</script>